body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  color: #f5f1f1;
  background-color: #f8f8f8;
}

h1 {
  font-family: cursive;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
h3 {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  color: #f5eaea;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 10px;
}

a {
  color: #fbf4f4;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

a:hover {
  color: #666;
}

form {
  text-align: center;
  margin-top: 20px;
}

input {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #DAA520;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #B8860B;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  background-color: transparent;
  filter: blur(1px);
}

.flash-msg {
  background-color: #f4f7fb;
  color: #a29a9a;
  padding: 10px;
  margin-bottom: 10px;
}

