<!DOCTYPE html>
<html>
<head>
  <title>Add Favorite Recipe</title>
  <link rel="stylesheet" href="/static/fav.css">
</head>
<body>
  <header>
    <h1>Nav</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/recipes">Recipes</a>
      <a href="/favs">Favorites</a>
    </nav>
  </header>
  {% for msg in get_flashed_messages() %}
  <p class="flash-msg">
    {{ msg }}
  </p>
{% endfor %}
  <h1>Recipe Added to Favorites</h1>
 
  <ul>
    {% for recipe in recipes %}
        <li>
            <a href="/fav/{{ fav.fav_id }}">{{ recipe.name }}</a>
        </li>
    {% endfor %}
</ul>
  

  

</body>
</html>