<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<head>
    <link rel="stylesheet" href="/static/details.css"/>
    <title>Recipe Details</title>
</head>
<body>
    <h1>{{ recipe.name }}</h1>
    <p>Instructions: {{ recipe.instructions }}</p>
    <p>Cook Time: {{ recipe.cook_time }} minutes</p>
    <p>Prep Time: {{ recipe.prep_time }} minutes</p>
    <p>Servings: {{ recipe.servings }}</p>

    <form method="post" action="/fav">
        <input type="hidden" name="recipe_id" value="{{ recipe.recipe_id }}">
        <button type="submit">Add to Favorites</button>
    </form>
        <br>
        <br>
    <a href="/recipes">Back to All Recipes</a>
</body>
</html>



