<<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/search.css"/>
    <title>Search Results</title>
</head>
<body>
    
    <h2>Navigation</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/recipes">Recipes</a></li>
        <li><a href="/add-recipe">Add Recipes</a></li>
        <li><a href="/fav">Favorite</a></li>
    </ul>

    
    <h1>Search Results</h1>

    <form action="/search" method="GET">
        <input type="text" id="query" name="query" placeholder="Search for recipes...">
        <input type="submit" value="Search">
    </form>

    <ul>
        {% for recipe in recipes %}
        <li>
            <a href="/recipes/{{ recipe.recipe_id }}">{{ recipe.name }}</a>
        </li>
    {% endfor %}
    </ul>

   
    

</body>
</html>
