<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/search.css"/>
    <title>Search Results</title>
</head>
<body>
    
   <br>
   <br>
   <br>
    <h1>Search</h1>
    <br>
    <br>

    <form action="/search" method="GET"><br>
        <input type="text" id="query" name="query" placeholder="Search for recipes...">
        <br><br>
        <input type="submit" value="Search"><br><br>
    </form>
    <br>
    <ul>
        {% for recipe in recipes %}
        <li>
            <a href="/recipes/{{ recipe.recipe_id }}">{{ recipe.name }}</a>
        </li>

    {% endfor %}
    </ul>
    <br>
    <br>
 <a href="/recipes">Back to All Recipes</a>
   
    

</body>
</html>
