<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/total.css"/>
    <title>All Recipes</title>
</head>
<body>

    <h2>Navigation</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/fav">Favorite Recipes</a></li>
        <li><a href="/add-recipe">Add Recipes</a></li>
        <li><a href="/search_results">Search</a></li>
    </ul>

    <h1>Recipes</h1>
    <ul class="recipe-list">
        {% for recipe in recipes %}
            <li class="recipe-card">
                <img src="{{ recipe.image }}" alt="{{ recipe.name }}">
                <h3>{{ recipe.name }}</h3>
                <p>Cooking Time: {{ recipe.cooking_time }} minutes</p>
                <p>Preparation Time: {{ recipe.preparation_time }} minutes</p>
                <a href="/recipes/{{ loop.index }}">View Recipe</a>
            </li>
        {% endfor %}
    </ul>

</body>
</html>
